@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}


body {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  margin-left: -20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 8px;
  margin-left: -20px;
  background-color: #eee;
}

.left-links {
  display: flex;
  gap: 16px;
}

.right-links {
  display: flex;
  margin-left: auto;
  gap: 16px;
}

ul {
  margin-left: -20px;
  list-style-type: none;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}

a {
  text-decoration: none;
  color: rgb(107, 107, 107);
}